{% extends 'teacher/teacher_dash.html' %}

{% block content %}
<table class="table" >
  <thead>
    <tr>
      <th scope="col">Course code</th>
      <th scope="col">Course title</th>
      <th scope="col">Description</th>
      <th scope="col">update</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
  {% for i in course_objects %}
    <tr>
       <td>{{i.course_code}}</td>
      <td>{{i.title}}</td>
      <td>{{i.description}}</td>
      <td><a href="{% url 'teacher_update_course' i.id %}"><button class="btn btn-info">Update</button></a></td>
      <td>
          <a href="{% url 'teacher_delete_course' i.id %}" class="btn btn-danger" onclick="confirm_delete()">Delete</a>
      </td>

    </tr>
  {% endfor %}

  </tbody>
</table>
{% endblock %}