{% extends 'teacher/teacher_dash.html' %}

{% block content %}
<table class="table" >
  <thead>
    <tr>
      <th scope="col">student</th>
      <th scope="col">course</th>
      <th scope="col">grade</th>
      <th scope="col">semester</th>
      <th scope="col">year</th>
      <th scope="col">update</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
  {% for i in grade_objects %}
    <tr>
       <td>{{i.student}}</td>
      <td>{{i.course}}</td>
      <td>{{i.grade}}</td>
      <td>{{i.semester}}</td>
      <td>{{i.year}}</td>
      <td><a href=""><button class="btn btn-info">Update</button></a></td>
      <td>
          <a href="" class="btn btn-danger">Delete</a>
      </td>

    </tr>
  {% endfor %}

  </tbody>
</table>
{% endblock %}